*{
	margin: 0;
	padding: 0;
}

#song{
	color: wheat;
	background-color: transparent;
	border: none;
	outline: none;
	position: absolute;
    font-size: 20px;
	cursor: pointer;
}

#back{
	color: rgb(255, 255, 255);
	background-color: transparent;
	border: none;
	outline: none;
	position: absolute;
	left: 30px;
    font-size: 20px;
	cursor: pointer;
	text-decoration: none;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../Resources/hard_bg.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.grid {
	width: 500px;
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../Resources/hard_sbg.jpeg);
	background-size: cover;
	background-position: center;
	height: 500px;
	/* border: solid black 1px; */
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	/* background-color: purple; */
	background-image: url(../Resources/hard_alien.gif);
	border-radius: 10px;
}

.shooter {
	/* background-color: green; */
	background-image: url(../Resources/hard_spaceship.gif);
}

.laser {
	/* background-color: orange; */
	background-image: url(../Resources/hard_missile.gif);
}

.boom {
	background-image: url(../Resources/hard_explode.gif);
}

.results{
	color: white;
}